# This is a basic workflow to help you get started with Actions

name: ubuntu-image-plucky
on: workflow_dispatch
#workflow_dispatch
#[push]
jobs:
  command:
    name: Use Linux commands
    runs-on: ubuntu-24.04-arm
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      - name: u-boot
        run: sudo /bin/bash  ./das-u-boot.sh orangepi-5-rk3588s_defconfig 07

      - name: rootfs
        run: sudo /bin/bash ./ubuntu-image.sh

      - name: disk image
        run: sudo /bin/bash ./disk_image.sh arm64 orangepi-5 rk3588s-orangepi-5
 
      - name: Upload a diisk image
        uses: actions/upload-artifact@v4.5.0
        with:
         name: ubuntu-disk-image
         path: ubuntu-*.xz
         compression-level: 0
          # The desired behavior if no files are found using the provided path.
         if-no-files-found: error
          
